/* navbar styles */
.navbar {
    width: 100%;
    background: #4b71ed;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  .navbar ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
    list-style: none;
  }
  .navbar li {
    /* margin-left: auto; */
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1em;
  }
  .navbar button, .navbar a {
    margin-left: 26px;
    font-size: 0.6em;
  }
  .navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 600px) {
    .navbar ul {
      
      justify-content: flex-start;
    }
    .navbar li {
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 0.6em;
      margin-left: 0px;
    }
    }