.score-container {
  width: 20vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .score-container {
    width: 100%;
  }
  p {
    font-size: 1em;
    color: rgb(126, 126, 126);
  }
}
