.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  
  .signup-form label {
    color: rgb(68, 67, 67);
    font-size: 0.7em;
  }
  h2{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
  }
  .signup-form .btn{
    color: #292929;
    font-weight: 500;
  }
  .signup-form input {
    padding: 8px 6px;
    font-size: 0.7em;
    color: #777;
    width: 80%;
  }
}