.font-face-ik {
  font-family: "Icekingdom";
}

.App {
  max-width: 860px;
  margin: 40px 20px 0 20px;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #13ecf3;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.logo-div {
  display: inline-block;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30vw;
}
.logo-div img {
  width: 100%;
}
.logo-div h1 {
  margin-top: -30px;
}
.magic {
  margin-top: -10px;
  font-size: 2.5em;
  font-weight: 200;
  letter-spacing: 3px;
}
.btn {
  margin-top: -10px;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 3px;
}
.logo {
  margin-top: 0;
  margin-bottom: -30px;
}
p {
  font-size: 1.8em;
}

@media only screen and (min-width: 300px) {
  .logo-div {
    width: 100%;
  }
  .magic {
    margin-top: 5px;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 3px;
  }
  .btn {
    font-size: 0.8em;
  }
  .card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
