/* @import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Serif:wght@300&display=swap"); */

@font-face {
  font-family: "Icekingdom";
  src: local("Icekingdom"), url(./fonts/Icekingdom.otf) format("truetype");
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: rgb(140, 148, 156);
  color: #fff;
}

.main-container {
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-container {
    display: block;
  }
  .score-container {
    width: 100%;
  }
}
